<!Doctype html>
<html lang="en">
    <head>
        {% include "header.html" %}

        <title>About FDS</title>
    </head>
    <body>
    {% include "navbar.html" %}

        <!--FDS message-->
<div class="container">
    <div class="jumbotron">
        <h1>What is FDS ?</h1>
        <p>FDS is an effort to bring the advantages of <b>AI<i> (Artificial Intelligence)</i></b> and <b>
            Machine Learning
        </b> to masses of Rajasthan. It is designed to leverage AI for various type of tasks as:</p>
        <p>
            <b>Detection : </b> It will require some data from user and based on that detect that user is genuine or a fraud.<br>
            <b>Analytics : </b> It will require data from user and based on that that analyse various of thing.<br>
        </p>
        <p>This services provide various opportunity to financial institutes. There is ability to train system to recognise
        and analyse things. System has various applications.</p>
    </div>
</div>
        <!--FDS message stops-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>