<!Doctype html>
<html lang="en">
    <head>
        {% include "header.html" %}

        <title>Contact</title>
    </head>
    <body>
 {% if user.is_authenticated %}
        {% include "loggedin-navbar.html" %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}
 <div class="container">
        <div class="row ">
            <div class="col-xs-4 col-sm-offset-8">
             <div class="alert alert-warning">
                <strong>Fill free to write for any query :</strong>
             </div>
             <div class="col-xs-12">
                    <form role="form" action="" method="post">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                    </div>
                </div>
        </div>
    </div>

        <!--Contact form submission here-->
    <hr>
<div class="container">
    <div class="jumbotron text-center">
        If you have an query related to FDS, you an also write us at: kanhamishra97@yahoo.in<br>
    </div>
</div>

        <!--Contact form submission ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>