<!Doctype html>
<html lang="en">
    <head>
        {% include "header.html"%}

        <title>Login</title>
    </head>
    <body>

    {% if user.is_authenticated %}
        {% include "loggedin-navbar.html" %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}

        <!--Login Form starts here-->
            <div class="container form-top-margin-100 text-center">
    <div class="row">
        <div class="col-sm-6">
            <img src="../static/images/creditfraud.png">
        </div>
        <div class="col-xs-12 col-sm-6">
        </div>
                <div class="col-sm-3">
                    <div class = "panel panel-primary">
                        <div class = "panel-heading">
                             Login Here
                        </div>
                            <div class="panel-body">
                                <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <hr>
                                    <button type="submit" class="btn btn-default">Login</button>
                                </form>
                            </div>
                    </div>
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
        <p>In the world of AI being computer literate isn't just enough. Data has to be obtained and
        analysed for improving the quality of life of the people. The major giant companies and governments
        now started using AI to help this system.</p>
    </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

    <div class="col">

    </div>
    </div>
            </div>
        <!--Login form ends here-->

        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>