<!Doctype html>
<html lang="en">
    <head>
        {% include "header.html" %}

        <title>Success</title>
    </head>
    <body>
{% if user.is_authenticated %}
        {% include "loggedin-navbar.html" %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}        <!--Success message starts here-->
<div class="container">
    <div class="jumbotron">
        <h1>Your message is submitted successfully. </h1><br>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to home</a></p>
    </div>
</div>
        <!--Success message ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>